body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* first div */
.header {
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 500px;
}

.header-logo {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* inline-size goes together with over-flow-wrap and determines the sizing within */
.header-text {
    inline-size: 350px;
    overflow-wrap: break-word;
    position: relative;
    left: 86px;
}

.header-image p {
   position: relative;
   top: -100px;
    left: 100px;
}

a {
    color: blue;
}

/* second div*/
.part2 {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.part2-showcase {
    display: flex;
    justify-content: center;
}

.part2-boxes {
    display: flex;
    justify-content: space-evenly;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 30px;
}

.empty-box {
    display: flex;
    border: solid;
    border-color: #3882F6;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.box div {
    inline-size: 200px;
    overflow-wrap: break-word;
    padding: 5px;
}

/* Part 3*/

.part3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
}

.part3-quote {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 30px;
    inline-size: 400px;
    overflow-wrap: break-word;
}

.p2 {
    display: flex;
    justify-content: flex-end;
}

/* part 4*/

.part4 {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part4container {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-style: solid;
    border-radius: 15px;
    width: 975px;
    height: 70px;
    background-color: #3882F6;
}

button {
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    background-color: #3882F6;
    color: white;
    padding: 10px;
    font-size: 18px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1f2937;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}